/* This is a comment!*/

body {
    background-color: Black;
    
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: pink;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
