/* This is a comment!*/

body {
    background-color: #000000;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: pink;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
