/* This is a comment!*/

body {
    background-color: Black;
    
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: pink;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
